<h1>New game</h1>

<div class="container">
  <div class="letters-selection">
    <% @letters.each do |letter| %>
      <div class="letter-box">
        <div class="letter"><%= letter.upcase %></div>
      </div>
    <% end %>
  </div>
</div>

<p>What's the longest word you can find?</p>
<form action="/score" method="POST">
  <input type="text" name="answer">
  <input type="submit" value="Check score!">
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
